/*menu*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: #f9f9f9;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: black;
    font-size: 25px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p{
    color: #46a2fd;
    margin-right: 15px
}

.icono-menu img{
    width: 0px;
}

.cont-menu{
    background-color: orange;
    box-shadow: 2px 0px 5px 2px rgb(0, 0, 0);
    width: 0px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5 ease ;
}

.cont-menu ul{
    padding: 180px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li a{
    color: white;
    display: block;
    font-size: 45px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}


/*Portada*/

.container-cover{
    width: 100%;
    height: 350px;
    position: relative;
    top: 80px;
    background-image: url("Imagenes/SI.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-info-cover{
    max-width: 800px;
    height: 350px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-info-cover h1{
    font-size: 45px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: black;
    font-size: 30px;
    font-weight: 300;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/*Filtrado de secciones*/

.container-filt{
    margin-left: 200px;
    margin-top: 80px;
    width: 100%;
    flex-direction: column;
}

.container-filt{
    display: flex;
    justify-content: center;
}

.container-filt filts{
    max-width: 300px;
    margin: 10px;
}

.filt button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 50px;
    font-size: 18px;
    background: #46a2fd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/*Muebles*/

.container-post{
    width: 800px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 3px;
    padding: 20px;
}

.posts .post{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 30px -20px black;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.posts .post .ctn-img{
    width: 100%;
}

.posts .post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 15px;
    margin-top: 8px;
    padding: 0px 10px;
}

.post span{
    display: block;
    margin-top: 8px;
    padding: 0px 10px;
}

.post button{
    margin-top: 8px;
    margin-left: 10px;
    padding: 5px 65px;
    font-size: 16px;
    background: #46a2fd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.post button:hover{
    opacity: 1.9;
}

.posts span{
    font-size: 15px;
    color: green;
}

/*Footer*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url("Imagenes/background-footer.svg");
    background-size: cover;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    margin-top: 100px;
}

.box-footer{
    display: flex;
    padding: 40px;
}

.box-footer .logo img{
    width: 100px;
}

.box-footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    color: #7a7a7a;
    font-size: 20px;
}

.box-footer h2{
    margin-top: 10px;
    margin-bottom: 100px;
    color: #343434;
    font-weight: 700;
}

.box-footer p{
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*************************************************************************************************************/

/*header*/

@media screen and (max-width: 1220px){

    .header-content{
        max-width: 1000px;
        padding: 0 20px;
    }

    header{
        height: 195px;
    }

    .logo{
        height: 195px;
        font-size: 70px;
    }

    .icono-menu{
        margin-top: 40px;
        position: relative;
        z-index: 10;
    }
    
    .icono-menu img{
        width: 125px;
        cursor: pointer;
    }

    .cont-menu{
        background-color: orange;
        box-shadow: 0 0 60px -20px black;
        width: 400px;
        height: 38vh;
        position: absolute;
        top: 0;
        right: 0;
        transition: all .5 ease ;
    }

    .cont-menu ul{
        padding: 180px 0px 20px 0px;
        list-style: none;
    }

    .cont-menu ul li a{
        text-align: right;
        color: white;
        display: block;
        font-size: 50px;
        text-decoration: none;
        padding: 25px 50px;
        cursor: pointer;
    }

    .cont-menu ul li a:hover{
        background-color: white;
        color: black;
    }

    .active{
        transform: translate(+600px);
    }

}

/*portada*/

@media screen and (max-width: 1220px){

    .container-cover {
        height: 750px;
        top: 195px;
        margin-bottom: 110px;
    }

    .container-info-cover{
        max-width: 800px;
        height: 720px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .container-info-cover img{
        height: 190px;
    }

    .container-info-cover h1{
        font-size: 100px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .container-info-cover p{
        font-size: 73px;
        font-weight: 300;
    }

}

/*Oferta*/

@media screen and (max-width: 1220px){

.mas{
    margin-top: 70px;
    font-size: 40px;
    margin-left: 20px;
}

.mas hr{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10PX;
}

.container-mesas{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Mesas.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-oferta{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Ofertas.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-publi{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Publicidad.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-gar{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Garantia.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-ap{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Apartado.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-dis{
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    background-image: url("Imagenes/Diseño.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -20px black;
}

.container-info-oferta{
    max-width: 800px;
    height: 450px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-info-oferta h1{
    font-size: 70px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.container-info-oferta p{
    color: white;
    font-size: 40px;
    font-weight: 300;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

}

/*Filtrado de secciones*/

@media screen and (max-width: 1220px){

    .container-filt{
        margin-left: 1px;
        margin-top: 200px;
        width: 100%;
        flex-direction: column;
    }

    .container-filt{
        display: flex;
        justify-content: center;
    }

    .container-filt filts{
        max-width: 300px;
        margin: 10px;
    }

    .filt button{
        margin-top: 20px;
        margin-left: 20px;
        padding: 18px 52px;
        font-size: 58px;
        background: orange;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }

}

/*filtrado*/

@media screen and (max-width: 1220px){

    input[type="radio"]{
        display: none;
    }
    
    .container-category{
        width: 100%;
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-category label{
        padding: 6px 40px;
        margin: 10px;
        font-size: 60px;
        background: #e2e2e2;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .container-category label:hover{
        opacity: 0.8;
    }

}

/*Noticia*/

@media screen and (max-width: 1220px){

    .noticias h1{
        margin-right: 20px;
        margin-left: 20px;
        font-size: 90px;
        color: #46a2fd;
    }

    .noticia{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .nombre h1{
        font-size: 90px;
        color: #46a2fd;
        margin-bottom: 30px;
    }

    .cuerpo{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .noticia img{
        margin-left: 10px;
        margin-bottom: 10px;
        height: 500px;
        float: right;
    }

    .noticia button{
        margin-top: 20px;
        padding: 20px 425px;
        font-size: 60px;
        background: #46a2fd;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

}

/*botones*/

@media screen and (max-width: 1220px){

    .container-post{
        width: 100%;
        flex-direction: column;
    }

    .container-post{
        display: flex;
        justify-content: center;
    }

    .container-post posts{
        max-width: 300px;
        margin: 10px;
    }

    .post span{
        font-size: 30px;
    }

    .post h2{
        font-size: 45px;
    }

    .post button{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px 175px;
        font-size: 50px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

}

/*footer*/

@media screen and (max-width: 1220px){

    footer{
        width: 100%;
        padding: 50px 0px;
        background-image: url("Imagenes/background-footer.svg");
        background-size: cover;
    }
    
    .container-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
    }
    
    .box-footer .logo img{
        width: 300px;
    }
    
    .box-footer .terminos{
        max-width: 500px;
        margin-left: 60px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 50px;
    }
    
    .box-footer h2{
        margin-top: 10px;
        margin-bottom: 100px;
        color: #343434;
        font-weight: 700;
        font-size: 50px;
    }

    .box-footer p{
        color: #7a7a7a;
        font-size: 50px;
        font-weight: 400;
    }
    
    .copyright p{
        margin-top: 20px;
        color: #7a7a7a;
        font-size: 50px;
    }

}

/*orden*/

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}